@media only screen and (min-width: 1200px) {
  .container {
    width: 30%;
    height: 225px;
  }
}
@media only screen and (max-width: 859px) {
  .container {
    width: 80%;
    height: 255px;
    padding: 12px;
  }
}
.container {
  margin: 10% auto;
  padding: 30px;
  border-radius: 37px;

  background-color: #d5e6ff;
  box-shadow: rgb(127, 58, 255) 0px 0px 35px 20px;
}
