@media only screen and (min-width: 1200px) {
  .container {
    width: 20%;
  }
}
@media only screen and (max-width: 859px) {
  .container {
    width: 70%;
  }
}

.container {
  margin: 10% auto;
  background-color: #212121;
  border-radius: 7%;
  padding: 30px;
  box-shadow: white 0px 0px 30px 10px;
}
