.statistics__list {
  width: 100%;
  display: flex;
  margin-bottom: 20px;
}
.statistics__items {
  width: calc(100% / 3);
  height: 25px;
  border-radius: 7px;
  box-shadow: #00ff2f 0px 7px 17px -7px;
  text-align: center;
  color: #757575;
}
.statistics__items:not(:last-child) {
  margin-right: 10%;
}
.item,
.item__value,
.item__total {
  display: inline-block;
}

.results_menu,
.positivFeedbacks__menu {
  display: flex;
  /* justify-content: space-evenly; */
  color: #757575;
}
.item,
.item__positivFeedbacks {
  margin-right: 15px;
}
.item__positivFeedbacks {
  width: 155px;
  display: block;
}
